<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">


       <!-- component-scan标签默认情况下自动扫描指定路径下的包（含所有子包），将带有@Component、@Repository、@Service、@Controller标签的类自动注册到spring容器 -->
       <context:component-scan base-package="org.wld" />


       <!-- 开启springMVC的注解驱动，使得url可以映射到对应的controller 会自动注册RequestMappingHandlerMapping与RequestMappingHandlerAdapter两个Bean
       <mvc:annotation-driven />-->

       <!-- AOP 注解方式 ；定义Aspect -->
       <!-- 激活组件扫描功能,在包com.ly.aop.aspect及其子包下面自动扫描通过注解配置的组件
       <context:component-scan base-package="org.wld"/>-->
       <!-- 启动AspectJ支持   只对扫描过的bean有效-->
       <aop:aspectj-autoproxy proxy-target-class="true" />
       <!-- <bean  class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" />
       <bean  class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter" />-->

</beans>